/* Mono-style - By Monitio */
/* SCSS - Gradient */

$gradient-top: linear-gradient(0deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-right: linear-gradient(90deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-left: linear-gradient(270deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
$gradient-radial: radial-gradient(#ffffffff, #e7e7e7ff, #656565ff, #4d4d4dff, #ff0000ff);
