/* Mono-style - By Monitio */
/* SCSS - RGB */

$white: rgba(255, 255, 255, 1);
$platinum: rgba(231, 231, 231, 1);
$dim-gray: rgba(101, 101, 101, 1);
$davys-gray: rgba(77, 77, 77, 1);
$red: rgba(255, 0, 0, 1);
